@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    background-color: #135372;
}

.btn {
    background-color: #ccc;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 5px;
    display: inline-block;
    margin: .5em;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #aaa;
}

.btn i {
    vertical-align: middle;
    padding-right: .5em;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 3.2807rem;
    line-height: 1.3154;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    padding-top: 10%;
    
}

.sheep {
    font-size: 120px;
}

.cloud {
    font-size: 99px;
    color: white;
    text-align: center;
    padding-top: 20%;
}



.cloud-bunch {
	position: relative;
}

.cloud-1 {
	position: absolute;
	top: .1em;
    left: 35%;
    z-index: 100;
	-webkit-animation: cloud-1 2s ease-in-out infinite alternate;
	animation: cloud-1 2s ease-in-out infinite alternate;
}

.cloud-2 {
	position: absolute;
	right: 10%;
    top: .5em;
	z-index: 100;
	-webkit-animation: cloud-2 2s ease-in-out infinite alternate;
	animation: cloud-2 2s ease-in-out infinite alternate;
}

.cloud-3 {
	position: absolute;
	left: 7%;
	top: .5em;
	z-index: 100;
	-webkit-animation: cloud-3 2.5s ease-in-out infinite alternate;
	animation: cloud-3 2.5s ease-in-out infinite alternate;
}

.star-bunch {
    color: #EECC00;
    padding-top: .1em;
    margin: none;
    font-size: 110px;
}

.star-1 {
    -webkit-animation: box-scale 10s ease-in-out infinite;
    animation: box-scale 10s ease-in-out infinite;
}

.star-2 {
    -webkit-animation: box-scale 7s ease-in-out infinite;
    animation: box-scale 7s ease-in-out infinite;
}

.star-3 {
    -webkit-animation: box-scale 8.5s ease-in-out infinite;
    animation: box-scale 8.5s ease-in-out infinite;
}


  
    
}

@-webkit-keyframes box-scale {
    0% {
        -webkit-transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(2, 2);
    }
}

@keyframes box-scale {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(2, 2);
    }
}






@-webkit-keyframes cloud-1 {

	0% {
		-webkit-transform: translateX(0px);
	}

	100% {
		-webkit-transform: translateX(5px);
	}

}

@-webkit-keyframes cloud-2 {

	0% {
		-webkit-transform: translateX(5px);
	}

	100% {
		-webkit-transform: translateX(0px);
	}

}

@-webkit-keyframes cloud-3 {

	0% {
		-webkit-transform: translateX(0px);
	}

	100% {
		-webkit-transform: translateX(5px);
	}

}



@keyframes cloud-1 {

	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(5px);
	}

}

@keyframes cloud-2 {

	0% {
		transform: translateX(5px);
	}

	100% {
		transform: translateX(0px);
	}

}

@keyframes cloud-3 {

	0% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(5px);
	}

}

